
./terraform/launch-templates-alternative.tf

./terraform/terraform.tfstate.backup
./terraform/terraform.tfstate
./terraform/terraform.tfstate.backup
./terraform/terraform.tfstate.backup    

./terraform/.terraform.lock.hcl
./terraform/.terraform.tfstate.lock.info
./terraform/.terraform.tfstate.lock.info